.flows.json.backup
[
    {
        "id": "7b56cef1f8d546dd",
        "type": "tab",
        "label": "Greenhouse automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ac235fa942a4ed9a",
        "type": "tab",
        "label": "Segmentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3b2bcd826225690",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": ""
    },
    {
        "id": "01309323766c49db",
        "type": "mqtt-broker",
        "name": "mqbroker",
        "broker": "192.168.43.113",
        "port": "5167",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4fb274990e72b12d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b72526c2b8337cb",
        "type": "ui_group",
        "name": "Default",
        "tab": "4fb274990e72b12d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea321bfcdc4bb615",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bb19766e60991253",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "d": true,
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "22e3c24763ea090f",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "d": true,
        "name": "Humidity Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "37e689a4d557e45d",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Make temp payload ",
        "func": "var temp = msg.payload;\nvar cur_time = new Date();\n\nvar x = {\n    \"temp\": {\n        \"value\": temp, \n        \"context\": {\n            \"collected_at\": cur_time\n        }\n    }\n}\n\nmsg.payload = x;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 280,
        "wires": [
            [
                "b0d48dab4ed5c18b"
            ]
        ]
    },
    {
        "id": "051eed908b572a07",
        "type": "delay",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "37e689a4d557e45d"
            ]
        ]
    },
    {
        "id": "f016584984ce3f83",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Make humid payload ",
        "func": "var humid = msg.payload;\nvar cur_time = new Date();\n\nvar x = {\n    \"humid\": {\n        \"value\": humid, \n        \"context\": {\n            \"collected_at\": cur_time\n        }\n    }\n}\n\nmsg.payload = x;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 540,
        "wires": [
            [
                "b7ce522f3f66ddc8"
            ]
        ]
    },
    {
        "id": "6065429837281b3b",
        "type": "delay",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "f016584984ce3f83"
            ]
        ]
    },
    {
        "id": "40a61ccbf8051dcb",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "d8272ecf9e3efdfe",
                "6f763f4ec4026049"
            ]
        ]
    },
    {
        "id": "9061dbde50a4fc6e",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 1040,
        "wires": [
            [
                "36489c4fe00771db",
                "d80aa4472d9879c2"
            ]
        ]
    },
    {
        "id": "36489c4fe00771db",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "LIGHTS off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"changed light status to OFF\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d8272ecf9e3efdfe",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "LIGHTS on",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Changed status light to ON\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9339b078e702176f",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "temp recieved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp.value",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 860,
        "wires": []
    },
    {
        "id": "ee024a83f24d3fe4",
        "type": "switch",
        "z": "7b56cef1f8d546dd",
        "name": "Check for optimal range",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "18",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 330,
        "y": 940,
        "wires": [
            [
                "630d540ff83f0e9d"
            ],
            [
                "a8316cfe22038448"
            ]
        ]
    },
    {
        "id": "630d540ff83f0e9d",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "Turn on condition",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "a8316cfe22038448",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "Turn off condition",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "b6d2f9846c7ca59c",
        "type": "mqtt in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "SENSOR/TEMP",
        "qos": "2",
        "datatype": "auto",
        "broker": "01309323766c49db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "74432cabed4d9527"
            ]
        ]
    },
    {
        "id": "1126e5f6315fdcd0",
        "type": "mqtt in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "SENSOR/HUM",
        "qos": "2",
        "datatype": "auto",
        "broker": "01309323766c49db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "280bb2bcf4a4c290"
            ]
        ]
    },
    {
        "id": "b0d48dab4ed5c18b",
        "type": "ubidots_out",
        "z": "7b56cef1f8d546dd",
        "name": "temp-data-cloud-storage",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "label_device": "",
        "device_label": "arduino-test-01",
        "tier": "business",
        "tls_checkbox": true,
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "b7ce522f3f66ddc8",
        "type": "ubidots_out",
        "z": "7b56cef1f8d546dd",
        "name": "humid-cloud-push",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "label_device": "",
        "device_label": "arduino-test-01",
        "tier": "business",
        "tls_checkbox": true,
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "3cf333e629056ece",
        "type": "mqtt out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "LIGHTS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01309323766c49db",
        "x": 840,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e68af63695155db3",
        "type": "link in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "links": [
            "d80aa4472d9879c2"
        ],
        "x": 625,
        "y": 1080,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "d80aa4472d9879c2",
        "type": "link out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "mode": "link",
        "links": [
            "e68af63695155db3"
        ],
        "x": 305,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6f763f4ec4026049",
        "type": "link out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "mode": "link",
        "links": [
            "f32e76543ee9192d"
        ],
        "x": 295,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f32e76543ee9192d",
        "type": "link in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "links": [
            "6f763f4ec4026049"
        ],
        "x": 625,
        "y": 1140,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "89b5a33473c36e3e",
        "type": "camerapi-takephoto",
        "z": "7b56cef1f8d546dd",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "4",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 300,
        "y": 1560,
        "wires": [
            [
                "8f536c274cab5690",
                "e3f944db38a4aff8"
            ]
        ]
    },
    {
        "id": "27bd7c9a1394628f",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "daily cron",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "89b5a33473c36e3e"
            ]
        ]
    },
    {
        "id": "db521c1a0410df39",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "Prediction of the model",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1640,
        "wires": []
    },
    {
        "id": "8f536c274cab5690",
        "type": "image",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 300,
        "y": 1640,
        "wires": []
    },
    {
        "id": "6c5c530e7beadc81",
        "type": "mqtt in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "CHANGESTATE/LIGHT",
        "qos": "2",
        "datatype": "auto",
        "broker": "01309323766c49db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "8ebc76d96c8362bb",
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "8ebc76d96c8362bb",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "Changed State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 860,
        "wires": []
    },
    {
        "id": "d67749f42e5ea7e7",
        "type": "ui_gauge",
        "z": "7b56cef1f8d546dd",
        "name": "tempd",
        "group": "6b72526c2b8337cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "d3577def81a8cc31",
        "type": "ui_gauge",
        "z": "7b56cef1f8d546dd",
        "name": "humidity",
        "group": "6b72526c2b8337cb",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humid",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "82d4e0c5ae5a794f",
        "type": "comment",
        "z": "7b56cef1f8d546dd",
        "name": "Automation Section",
        "info": "",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "60489ef49e933167",
        "type": "comment",
        "z": "7b56cef1f8d546dd",
        "name": "Data Collection",
        "info": "",
        "x": 940,
        "y": 20,
        "wires": []
    },
    {
        "id": "3be235718f863341",
        "type": "comment",
        "z": "7b56cef1f8d546dd",
        "name": "Decision Making",
        "info": "",
        "x": 500,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e3f944db38a4aff8",
        "type": "fashion-predictor-node",
        "z": "7b56cef1f8d546dd",
        "name": "object detection node",
        "x": 560,
        "y": 1560,
        "wires": [
            [
                "db521c1a0410df39",
                "c1709d76b9a6914d"
            ]
        ]
    },
    {
        "id": "74432cabed4d9527",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Sanitize Data",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "d67749f42e5ea7e7",
                "bb19766e60991253",
                "051eed908b572a07",
                "cac35591da8a7ea4"
            ]
        ]
    },
    {
        "id": "280bb2bcf4a4c290",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Sanitize Data",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "22e3c24763ea090f",
                "6065429837281b3b",
                "d3577def81a8cc31"
            ]
        ]
    },
    {
        "id": "cac35591da8a7ea4",
        "type": "link out",
        "z": "7b56cef1f8d546dd",
        "name": "Send Sensor Data for automation",
        "mode": "link",
        "links": [
            "9c1b4a9ea4ea989c"
        ],
        "x": 435,
        "y": 100,
        "wires": []
    },
    {
        "id": "9c1b4a9ea4ea989c",
        "type": "link in",
        "z": "7b56cef1f8d546dd",
        "name": "Get Sensor Data",
        "links": [
            "cac35591da8a7ea4"
        ],
        "x": 135,
        "y": 900,
        "wires": [
            [
                "9339b078e702176f",
                "ee024a83f24d3fe4"
            ]
        ]
    },
    {
        "id": "49d931f70a4815fe",
        "type": "comment",
        "z": "7b56cef1f8d546dd",
        "name": "Passes data for detection and automation",
        "info": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "c1709d76b9a6914d",
        "type": "switch",
        "z": "7b56cef1f8d546dd",
        "name": "check if unwanted object object is present",
        "property": "className",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "soccer ball",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 900,
        "y": 1560,
        "wires": [
            [
                "faaef4108e04c99d"
            ]
        ]
    },
    {
        "id": "faaef4108e04c99d",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "create mail message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "`Disease: {msg.payload[1]} detected`",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Disease Detected ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 1640,
        "wires": [
            [
                "707e731ad44e3b0e",
                "0ca9ebeca8caf7ca"
            ]
        ]
    },
    {
        "id": "707e731ad44e3b0e",
        "type": "e-mail",
        "z": "7b56cef1f8d546dd",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "send email to user",
        "x": 830,
        "y": 1720,
        "wires": []
    },
    {
        "id": "0ca9ebeca8caf7ca",
        "type": "mqtt out",
        "z": "7b56cef1f8d546dd",
        "name": "notification on app",
        "topic": "NOTIF/DISEASE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01309323766c49db",
        "x": 550,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8c7e3183283c9441",
        "type": "ui_switch",
        "z": "7b56cef1f8d546dd",
        "name": "LIGHT ui button",
        "label": "LIGHT",
        "tooltip": "",
        "group": "6b72526c2b8337cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "6876243c96ecbe6d",
        "type": "fileinject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "80511e06df1807e9",
                "e3f944db38a4aff8"
            ]
        ]
    },
    {
        "id": "80511e06df1807e9",
        "type": "image",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 120,
        "y": 1740,
        "wires": []
    },
    {
        "id": "732caf428b836a3b",
        "type": "http request",
        "z": "ac235fa942a4ed9a",
        "name": "segment image",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:5000/api/kmeans",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "7de0bd9a768c8d72"
            ]
        ]
    },
    {
        "id": "6dcf088b2e6bbc96",
        "type": "fileinject",
        "z": "ac235fa942a4ed9a",
        "name": "Input Image",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b27f36899696c1cf",
                "2f3c3cb0f7bc732e"
            ]
        ]
    },
    {
        "id": "b27f36899696c1cf",
        "type": "function",
        "z": "ac235fa942a4ed9a",
        "name": "prepare image",
        "func": "let image_b64 = msg.payload.toString('base64');\n\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data\"\n}\n\nmsg.payload = {\n    \"image\": image_b64\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "732caf428b836a3b"
            ]
        ]
    },
    {
        "id": "7de0bd9a768c8d72",
        "type": "function",
        "z": "ac235fa942a4ed9a",
        "name": "get segmented image",
        "func": "var image = Buffer.from(msg.payload.status, 'base64');\nmsg.payload = image;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "8d679151cc4e0bf1",
                "bc17f2ddbd573ad0"
            ]
        ]
    },
    {
        "id": "8d679151cc4e0bf1",
        "type": "image",
        "z": "ac235fa942a4ed9a",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "2f3c3cb0f7bc732e",
        "type": "image",
        "z": "ac235fa942a4ed9a",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "91fc347af0e7e596",
        "type": "fashion-predictor-node",
        "z": "ac235fa942a4ed9a",
        "name": "disease predictor node",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "d19e164afb7bafc6",
                "5c47b2584e5e5d3b"
            ]
        ]
    },
    {
        "id": "d19e164afb7bafc6",
        "type": "debug",
        "z": "ac235fa942a4ed9a",
        "name": "show prediction output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "5c47b2584e5e5d3b",
        "type": "switch",
        "z": "ac235fa942a4ed9a",
        "name": "check if disease present",
        "property": "disease",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 580,
        "wires": [
            [
                "d8e5d5116eff7dab"
            ]
        ]
    },
    {
        "id": "d8e5d5116eff7dab",
        "type": "change",
        "z": "ac235fa942a4ed9a",
        "name": "create mail message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "`Disease: {msg.payload[1]} detected`",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Disease Detected ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 520,
        "wires": [
            [
                "2677b93ba8c09f30"
            ]
        ]
    },
    {
        "id": "2677b93ba8c09f30",
        "type": "e-mail",
        "z": "ac235fa942a4ed9a",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "send email to user",
        "x": 910,
        "y": 580,
        "wires": []
    },
    {
        "id": "15092109bd75ac24",
        "type": "link in",
        "z": "ac235fa942a4ed9a",
        "name": "",
        "links": [
            "bc17f2ddbd573ad0"
        ],
        "x": 65,
        "y": 520,
        "wires": [
            [
                "91fc347af0e7e596"
            ]
        ]
    },
    {
        "id": "bc17f2ddbd573ad0",
        "type": "link out",
        "z": "ac235fa942a4ed9a",
        "name": "",
        "mode": "link",
        "links": [
            "15092109bd75ac24"
        ],
        "x": 785,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f0555bdaa7016a5",
        "type": "comment",
        "z": "ac235fa942a4ed9a",
        "name": "To Disease Predictor",
        "info": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e02cca65593ec1a",
        "type": "comment",
        "z": "ac235fa942a4ed9a",
        "name": "From segmentation",
        "info": "",
        "x": 130,
        "y": 460,
        "wires": []
    }
]