flows.json
[
    {
        "id": "ffa5f83d1e21fb42",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b56cef1f8d546dd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3b2bcd826225690",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": ""
    },
    {
        "id": "01309323766c49db",
        "type": "mqtt-broker",
        "name": "mqbroker",
        "broker": "localhost",
        "port": "5167",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4fb274990e72b12d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b72526c2b8337cb",
        "type": "ui_group",
        "name": "Default",
        "tab": "4fb274990e72b12d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea321bfcdc4bb615",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bb19766e60991253",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "d": true,
        "name": "Temperature Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "22e3c24763ea090f",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "d": true,
        "name": "Humidity Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "37e689a4d557e45d",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Make temp payload ",
        "func": "var temp = msg.payload;\nvar cur_time = new Date();\n\nvar x = {\n    \"temp\": {\n        \"value\": temp, \n        \"context\": {\n            \"collected_at\": cur_time\n        }\n    }\n}\n\nmsg.payload = x;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 40,
        "wires": [
            [
                "b0d48dab4ed5c18b"
            ]
        ]
    },
    {
        "id": "051eed908b572a07",
        "type": "delay",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "37e689a4d557e45d"
            ]
        ]
    },
    {
        "id": "f016584984ce3f83",
        "type": "function",
        "z": "7b56cef1f8d546dd",
        "name": "Make humid payload ",
        "func": "var humid = msg.payload;\nvar cur_time = new Date();\n\nvar x = {\n    \"humid\": {\n        \"value\": humid, \n        \"context\": {\n            \"collected_at\": cur_time\n        }\n    }\n}\n\nmsg.payload = x;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 480,
        "wires": [
            [
                "b7ce522f3f66ddc8"
            ]
        ]
    },
    {
        "id": "6065429837281b3b",
        "type": "delay",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "f016584984ce3f83"
            ]
        ]
    },
    {
        "id": "40a61ccbf8051dcb",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "d8272ecf9e3efdfe",
                "6f763f4ec4026049"
            ]
        ]
    },
    {
        "id": "9061dbde50a4fc6e",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 170,
        "y": 880,
        "wires": [
            [
                "36489c4fe00771db",
                "d80aa4472d9879c2"
            ]
        ]
    },
    {
        "id": "36489c4fe00771db",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "LED off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"changed light status to OFF\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 880,
        "wires": []
    },
    {
        "id": "d8272ecf9e3efdfe",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "LED on",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Changed status light to ON\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 1000,
        "wires": []
    },
    {
        "id": "eb1f7994ea049846",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "d": true,
        "name": "Humidity from cloud",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.humid.value",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9339b078e702176f",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "temp from cloud",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temp.value",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "a40f13f7af65f556",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temp.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 820,
        "wires": [
            [
                "ee024a83f24d3fe4"
            ]
        ]
    },
    {
        "id": "ee024a83f24d3fe4",
        "type": "switch",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "18",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 510,
        "y": 760,
        "wires": [
            [
                "630d540ff83f0e9d"
            ],
            [
                "a8316cfe22038448"
            ]
        ]
    },
    {
        "id": "630d540ff83f0e9d",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "a8316cfe22038448",
        "type": "change",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "b6d2f9846c7ca59c",
        "type": "mqtt in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "SENSOR/TEMP",
        "qos": "2",
        "datatype": "auto",
        "broker": "01309323766c49db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "bb19766e60991253",
                "051eed908b572a07"
            ]
        ]
    },
    {
        "id": "1126e5f6315fdcd0",
        "type": "mqtt in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "SENSOR/HUM",
        "qos": "2",
        "datatype": "auto",
        "broker": "01309323766c49db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "6065429837281b3b",
                "22e3c24763ea090f"
            ]
        ]
    },
    {
        "id": "b0d48dab4ed5c18b",
        "type": "ubidots_out",
        "z": "7b56cef1f8d546dd",
        "name": "temp-cloud-push",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "label_device": "",
        "device_label": "arduino-test-01",
        "tier": "business",
        "tls_checkbox": true,
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "b7ce522f3f66ddc8",
        "type": "ubidots_out",
        "z": "7b56cef1f8d546dd",
        "name": "humid-cloud-push",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "label_device": "",
        "device_label": "arduino-test-01",
        "tier": "business",
        "tls_checkbox": true,
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "3cf333e629056ece",
        "type": "mqtt out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "topic": "LIGHTS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "01309323766c49db",
        "x": 880,
        "y": 740,
        "wires": []
    },
    {
        "id": "e68af63695155db3",
        "type": "link in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "links": [
            "d80aa4472d9879c2"
        ],
        "x": 735,
        "y": 820,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "d80aa4472d9879c2",
        "type": "link out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "mode": "link",
        "links": [
            "e68af63695155db3"
        ],
        "x": 265,
        "y": 940,
        "wires": []
    },
    {
        "id": "6f763f4ec4026049",
        "type": "link out",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "mode": "link",
        "links": [
            "f32e76543ee9192d"
        ],
        "x": 265,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f32e76543ee9192d",
        "type": "link in",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "links": [
            "6f763f4ec4026049"
        ],
        "x": 765,
        "y": 900,
        "wires": [
            [
                "3cf333e629056ece"
            ]
        ]
    },
    {
        "id": "c79712326595e3aa",
        "type": "ubidots_in",
        "z": "7b56cef1f8d546dd",
        "tier": "business",
        "name": "Ubidots in",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "device_label": "arduino-test-01",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "humid",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "eb1f7994ea049846"
            ]
        ]
    },
    {
        "id": "886e778441de062a",
        "type": "ubidots_in",
        "z": "7b56cef1f8d546dd",
        "tier": "business",
        "name": "Ubidots in",
        "token": "BBFF-Aj5j6gFsJdYsEbArY01ArjHFDhsuSp",
        "device_label": "arduino-test-01",
        "tls_checkbox_in": true,
        "custom_topic_checkbox": false,
        "label_variable_1": "temp",
        "label_variable_2": "",
        "label_variable_3": "",
        "label_variable_4": "",
        "label_variable_5": "",
        "label_variable_6": "",
        "label_variable_7": "",
        "label_variable_8": "",
        "label_variable_9": "",
        "label_variable_10": "",
        "checkbox_variable_1_last_value": true,
        "checkbox_variable_2_last_value": true,
        "checkbox_variable_3_last_value": true,
        "checkbox_variable_4_last_value": true,
        "checkbox_variable_5_last_value": true,
        "checkbox_variable_6_last_value": true,
        "checkbox_variable_7_last_value": true,
        "checkbox_variable_8_last_value": true,
        "checkbox_variable_9_last_value": true,
        "checkbox_variable_10_last_value": true,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "9339b078e702176f",
                "a40f13f7af65f556"
            ]
        ]
    },
    {
        "id": "e12d4c9dd5835664",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "c1fd8e9ece272957"
            ]
        ]
    },
    {
        "id": "c1fd8e9ece272957",
        "type": "camerapi-takephoto",
        "z": "7b56cef1f8d546dd",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "10",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "f19f91dc11affdd1",
                "1acdd5bf0d1c59fd"
            ]
        ]
    },
    {
        "id": "f19f91dc11affdd1",
        "type": "fashion-predictor-node",
        "z": "7b56cef1f8d546dd",
        "name": "fashion predictor node",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "3f84bea913800d2f"
            ]
        ]
    },
    {
        "id": "1acdd5bf0d1c59fd",
        "type": "image",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 380,
        "y": 600,
        "wires": []
    },
    {
        "id": "3f84bea913800d2f",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "a9e00e76fc379964",
        "type": "fashion-predictor-node",
        "z": "7b56cef1f8d546dd",
        "name": "fashion predictor node",
        "x": 380,
        "y": 1340,
        "wires": [
            [
                "db521c1a0410df39"
            ]
        ]
    },
    {
        "id": "89b5a33473c36e3e",
        "type": "camerapi-takephoto",
        "z": "7b56cef1f8d546dd",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "4",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "a9e00e76fc379964",
                "8f536c274cab5690"
            ]
        ]
    },
    {
        "id": "27bd7c9a1394628f",
        "type": "inject",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 1200,
        "wires": [
            [
                "89b5a33473c36e3e"
            ]
        ]
    },
    {
        "id": "db521c1a0410df39",
        "type": "debug",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8f536c274cab5690",
        "type": "image",
        "z": "7b56cef1f8d546dd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 340,
        "y": 1400,
        "wires": []
    }
]